<h3>
  {{ Titulo }} <small>{{ TituloAccionABMC[AccionABMC] }}</small>
</h3>
<!-- Formulario Filtro de búsqueda, se ve cuando la AccionABMC es "L"(busqueda/listado)-->
<form
  name="FormBusqueda"
  [formGroup]="FormBusqueda"
  class="bg-light"
  *ngIf="AccionABMC == 'L'"
>
  <div class="form-group row">
    <label class="col-form-label col-sm-2 offset-sm-1"> Nombre: </label>
    <div class="col-sm-3">
      <input
        type="text"
        name="Nombre"
        class="form-control"
        formControlName="Nombre"
      />
    </div>
    <label class="col-form-label col-sm-2 offset-sm-1"> Activo: </label>
    <div class="col-sm-3">
      <select class="form-control" name="Activo" formControlName="Activo">
        <option *ngFor="let opt of OpcionesActivo" [ngValue]="opt.Id">
          ‌{{ opt.Nombre }}
        </option>
      </select>
    </div>
  </div>
  <!-- Botones -->
  <div class="row justify-content-center">
    <button
      type="button"
      class="btn btn-primary"
      (click)="Pagina = 1; Buscar()"
    >
      <i class="fa fa-search"> </i> Buscar
    </button>
    &nbsp;
    <button type="button" class="btn btn-primary" (click)="Agregar()">
      <i class="fa fa-plus"> </i>
      Agregar
    </button>
  </div>
</form>
<!-- Tabla de resutados de busqueda y Paginador-->
<div
  id="divTablaResultados"
  *ngIf="AccionABMC == 'L' && Items != null && Items.length > 0"
>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th class="text-center">Nombre</th>
        <th class="text-center">Precio</th>
        <th class="text-center">Stock</th>
        <th class="text-center">Familia</th>
        <th class="text-center">Fecha de Alta</th>
        <th class="text-center">Activo</th>
        <th class="text-center text-nowrap">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of Items">
        <td>{{ item.Nombre | uppercase }}</td>
        <td class="text-right">{{ item.Precio | currency }}</td>
        <td class="text-right">{{ item.Stock }}</td>
        <td>{{ GetArticuloFamiliaNombre(item.IdArticuloFamilia) }}</td>
        <td>{{ item.FechaAlta | date: 'dd/MM/yyyy' }}</td>
        <td>{{ item.Activo ? 'SI' : 'NO' }}</td>
        <td class="text-center text-nowrap">
          <button
            type="button"
            class="btn btn-sm btn-outline-primary"
            title="Consultar"
            (click)="Consultar(item)"
          >
            <i class="fa fa-eye"></i>
          </button>
          <button
            type="button"
            class="btn btn-sm btn-outline-primary"
            title="Modificar"
            (click)="Modificar(item)"
          >
            <i class="fa fa-pencil"></i>
          </button>
          <button
            type="button"
            class="btn btn-sm btn-outline-{{
              item.Activo ? 'danger' : 'success'
            }}"
            title="{{ item.Activo ? 'Desactivar' : 'Activar' }}"
            (click)="ActivarDesactivar(item)"
          >
            <i class="fa fa-{{ item.Activo ? 'times' : 'check' }}"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Paginador-->
  <div id="divPaginador">
    <div class="row bg-light">
      <div class="col">
        <span class="label label-default">Registros: {{ RegistrosTotal }}</span>
      </div>
      <div class="col text-center">
        <ngb-pagination
          [(page)]="Pagina"
          (pageChange)="Buscar()"
          [maxSize]="10"
          [collectionSize]="RegistrosTotal"
          [pageSize]="10"
        ></ngb-pagination>
      </div>
      <div class="col text-right">
        <button
          type="button"
          class="btn btn-primary"
          (click)="ImprimirListado()"
        >
          <i class="fa fa-print"></i>
          Imprimir
        </button>
      </div>
    </div>
  </div>
</div>

<!--No se encontraron registros-->
<div
  id="divMsjFormBusqueda"
  class="alert alert-info"
  *ngIf="AccionABMC == 'L' && Items != null && Items.length == 0"
>
  <i class="fa fa-exclamation-circle">{{ Mensajes['SD'] }}</i>
  <!-- texto: No se encontraron registros -->
</div>
<!-- Registro en Alta,Modificacion o Consulta -->
<form
  name="FormRegistro"
  [formGroup]="FormRegistro"
  class="bg-light"
  *ngIf="AccionABMC != 'L'"
>
  <fieldset [disabled]="AccionABMC === 'C'">
    <!--campo nombre-->
    <div class="form-group row">
      <label class="col-form-label col-sm-2 offset-sm-2" for="Nombre">
        Nombre <span class="text-danger">*</span>
      </label>
      <div class="col-sm-6">
        <input
          type="text"
          class="form-control text-uppercase"
          formControlName="Nombre"
          [ngClass]="{
            'is-invalid':
              (FormRegistro.controls['Nombre'].touched || submitted) &&
              FormRegistro.controls['Nombre'].errors
          }"
        />
        <div
          class="text-danger"
          *ngIf="
            (FormRegistro.controls['Nombre'].touched || submitted) &&
            FormRegistro.controls['Nombre'].hasError('required')
          "
        >
          Dato requerido.
        </div>
      </div>

      <div
        class="text-danger"
        *ngIf="
          FormRegistro.controls['Nombre'].hasError('minlength') ||
          FormRegistro.controls['Nombre'].hasError('maxlength')
        "
      >
        Dato texto, 4 a 55 caracteres.
      </div>
    </div>

    <!--campo precio-->
    <div class="row form-group">
      <label class="col-form-label col-sm-2 offset-sm-2" for="Precio">
        Precio <span class="text-danger">*</span>
      </label>
      <div class="col-sm-6">
        <input
          type="text"
          name="Precio"
          class="form-control"
          formControlName="Precio"
          [ngClass]="{
            'is-invalid':
              (FormRegistro.controls['Precio'].touched || submitted) &&
              FormRegistro.controls['Precio'].errors
          }"
        />
        <div
          class="text-danger"
          *ngIf="
            (FormRegistro.controls['Precio'].touched || submitted) &&
            FormRegistro.controls['Precio'].hasError('required')
          "
        >
          Dato requerido.
        </div>
        <div
          class="text-danger"
          *ngIf="FormRegistro.controls['Precio'].hasError('pattern')"
        >
          Dato numérico, 1 a 7 dígitos.
        </div>
      </div>
    </div>

    <!--campo stock-->
    <div class="form-group row">
      <label class="col-form-label col-sm-2 offset-sm-2" for="Stock">
        Stock <span class="text-danger">*</span>
      </label>
      <div class="col-sm-6">
        <input
          type="text"
          name="Stock"
          class="form-control"
          formControlName="Stock"
          [ngClass]="{
            'is-invalid':
              (FormRegistro.controls['Stock'].touched || submitted) &&
              FormRegistro.controls['Stock'].errors
          }"
        />
        <div
          class="text-danger"
          *ngIf="
            (FormRegistro.controls['Stock'].touched || submitted) &&
            FormRegistro.controls['Stock'].hasError('required')
          "
        >
          Dato requerido.
        </div>
        <div
          class="text-danger"
          *ngIf="FormRegistro.controls['Stock'].hasError('pattern')"
        >
          Dato numérico, 1 a 10 dígitos.
        </div>
      </div>
    </div>

    <!--campo codigodebarra-->
    <div class="form-group row">
      <label class="col-form-label col-sm-2 offset-sm-2" for="CodigoDeBarra">
        Codigo De Barra <span class="text-danger">*</span>
      </label>
      <div class="col-sm-6">
        <input
          type="text"
          name="CodigoDeBarra"
          class="form-control"
          formControlName="CodigoDeBarra"
          [ngClass]="{
            'is-invalid':
              (FormRegistro.controls['CodigoDeBarra'].touched || submitted) &&
              FormRegistro.controls['CodigoDeBarra'].errors
          }"
        />
        <div
          class="text-danger"
          *ngIf="
            (FormRegistro.controls['CodigoDeBarra'].touched || submitted) &&
            FormRegistro.controls['CodigoDeBarra'].hasError('required')
          "
        >
          Dato requerido.
        </div>
        <div
          class="text-danger"
          *ngIf="FormRegistro.controls['CodigoDeBarra'].hasError('pattern')"
        >
          Dato numérico, 1 a 13 dígitos.
        </div>
      </div>
    </div>

    <!--campo idarticulofamilia-->
    <div class="form-group row">
      <label
        class="col-form-label col-sm-2 offset-sm-2"
        for="IdArticuloFamilia"
      >
        Familia <span class="text-danger">*</span>
      </label>
      <div class="col-sm-6">
        <select
          name="IdArticuloFamilia"
          class="form-control"
          formControlName="IdArticuloFamilia"
          [ngClass]="{
            'is-invalid':
              (FormRegistro.controls['IdArticuloFamilia'].touched ||
                submitted) &&
              FormRegistro.controls['IdArticuloFamilia'].errors
          }"
        >
          <option
            *ngFor="let opt of Familias"
            [ngValue]="opt.IdArticuloFamilia"
          >
            ‌{{ opt.Nombre }}
          </option>
        </select>
        <div
          class="text-danger"
          *ngIf="
            (FormRegistro.controls['IdArticuloFamilia'].touched || submitted) &&
            FormRegistro.controls['IdArticuloFamilia'].hasError('required')
          "
        >
          Dato requerido.
        </div>
      </div>
    </div>

    <!--campo fechaalta-->
    <div class="form-group row">
      <label class="col-form-label col-sm-2 offset-sm-2">
        Fecha de alta <span class="text-danger">*</span>
      </label>
      <div class="col-sm-6">
        <input
          class="form-control"
          name="FechaAlta"
          formControlName="FechaAlta"
          [ngClass]="{
            'is-invalid':
              (FormRegistro.controls['FechaAlta'].touched || submitted) &&
              FormRegistro.controls['FechaAlta'].errors
          }"
        />
        <div
          class="text-danger"
          *ngIf="
            (FormRegistro.controls['FechaAlta'].touched || submitted) &&
            FormRegistro.controls['FechaAlta'].hasError('required')
          "
        >
          Dato requerido.
        </div>
        <div
          class="text-danger"
          *ngIf="FormRegistro.controls['FechaAlta'].hasError('pattern')"
        >
          Dato fecha, formato dd/mm/aaaa.
        </div>
      </div>
    </div>

    <!--campo activo-->
    <div class="form-group row">
      <label class="col-form-label col-sm-2 offset-sm-2" for="Activo"
        >Activo</label
      >
      <div class="col-sm-6">
        <select
          name="Activo"
          [disabled]="true"
          class="form-control"
          formControlName="Activo"
          [ngClass]="{
            'is-invalid':
              (FormRegistro.controls['Activo'].touched || submitted) &&
              FormRegistro.controls['Activo'].errors
          }"
        >
          <option *ngFor="let opt of OpcionesActivo" [ngValue]="opt.Id">
            ‌{{ opt.Nombre }}
          </option>
        </select>
        <div
          class="text-danger"
          *ngIf="
            (FormRegistro.controls['Activo'].touched || submitted) &&
            FormRegistro.controls['Activo'].hasError('required')
          "
        >
          Dato requerido.
        </div>
      </div>
    </div>
  </fieldset>

  <!-- Botones Grabar, Cancelar/Volver' -->
  <div class="row justify-content-center">
    <button
      type="button"
      class="btn btn-primary"
      (click)="Grabar()"
      *ngIf="AccionABMC == 'A' || AccionABMC == 'M'"
    >
      <i class="fa fa-check"></i> Grabar
    </button>
    &nbsp;
    <button type="button" class="btn btn-warning" (click)="Volver()">
      <i class="fa fa-undo"></i>
      {{ AccionABMC == 'A' || AccionABMC == 'M' ? 'Cancelar' : 'Volver' }}
    </button>
  </div>

  <!--texto: Revisar los datos ingresados...-->
  <div
    id="divMsjFormRegistro"
    class="row alert alert-danger"
    *ngIf="FormRegistro.invalid; $$: submitted"
  >
    <i class="fa fa-exclamation-circle">{{ Mensajes['RD'] }}</i>
  </div>
</form>
